@import "mixins";
@import "css/reset.css";
@import "typography.scss";
@import "grid.scss";

body {
    background-color: $primary-color;
    color: white;
    min-height: 100vh;
    @include vertical-center;
}