body {
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--header-height);
    padding: 0 var(--main-spacing) 0;
}

section.grid, section.centered {
    margin: var(--main-spacing);
}

section.hero {
    padding: var(--hero-spacing) var(--main-spacing);
    background-color: aliceblue;
    color: var(--text-on-dark);
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    background-image: image-set(
        "img/rainbow.jpg" 1x,
        "img/rainbow@2x.jpg" 2x
    );
    background-size: cover;
    background-position: center;
}

section.hero.menu {
    background-image: image-set(
        "img/green-wall.jpg" 1x,
        "img/green-wall@2x.jpg" 2x
    );   
}

section.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap-spacing);
    align-items: center;
}

section.centered {
    text-align: center;
    width: var(--centered-width);
    margin-left: auto;
    margin-right: auto;
}

@media (--mq-small) {
    section.grid {
        grid-template-columns: 1fr;
    }
    header img {
        width: 160px;
    }
}