$primary-color: rgb(228, 196, 144);
$body-font: "Libre Franklin";
$base: 8px;
$body-size: 2.5 * $base;

$mq-large: 1200px;
$mq-med: 800px;
$mq-small: 500px;

@mixin mq($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin vertical-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}